<!doctype html>
<html lang="en">
<head>
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/styles/main.css" type="text/css">
</head>
<body ng-app="todoListApp">

<flash:messages></flash:messages>

  <h1>My TODOs!</h1>

    <div class="buttons" ng-controller="logoutController">
        <button><a class="button-link" href="/#/">Home</a></button>
        <button><a class="button-link" href="#register">Register</a></button>
        <button><a class="button-link" href="#login">Login</a></button>
        <button><a class="button-link" ng-click='logout()'>Logout</a></button>
    </div>

  <div ng-view=""></div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
  <script src="/static/scripts/app.js"></script>
  <script src="/static/scripts/angular-flash.js"></script>
  <script src="/static/scripts/services/auth.js"></script>
  <script src="/static/scripts/resources/todo.js"></script>
  <script src="/static/scripts/controllers/main.js"></script>
  <script src="/static/scripts/controllers/todo.js"></script>
  <script src="/static/scripts/controllers/login.js"></script>
  <script src="/static/scripts/controllers/logout.js"></script>
  <script src="/static/scripts/controllers/register.js"></script>
  <script src="/static/scripts/directives/todo.js"></script>
</body>
</html>